@import 'nib'

.proton-container
  position relative
  overflow hidden

.proton-viewport
  position relative
  font-size 0
  white-space nowrap

.proton-transition
  transition transform 0.2s ease

.proton-cell
  display inline-block
  width 100%
  font-size 1rem
  white-space normal

.proton-cell img
  display block
  max-width 100%
